{% extends 'base.html' %}
{% load staticfiles %}
{% block index %}
<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url({% static 'img/intro-bg/post-bg.jpg' %});">
  <div class="container">
    <div class="caption text-center text-white" data-stellar-ratio="0.7">
      <h1>{{ post.title }}</h1>
    </div>
  </div>
  <div class="post container">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        Texto
        <p>{{ post.text|safe }}</p>
	</div>
</section>
{% endblock %}
